@import url("../fonts/wrc_clean/stylesheet.css");

body {
    font-family: 'WRC Clean Roman';
}

main {
    /* Compensate for the top navbar on small devices */
    margin-top: 5rem;
}

@media (min-width: 770px) {
    main { 
        /* Compensate for the top navbar on larger devices */
        margin-top: 6rem;
    }

    .hover-bg > .nav-item {
        padding: 1rem;
    }
    .hover-bg > .nav-item:hover, .hover-bg > .active {
        background: #fc4c02;
    }
    .hover-bg > .active > a.nav-link {
        color: white;
    }
}

nav.navbar {
    font-family: 'WRC Clean';
    font-size: large;
}

ul.nav-pills > li.nav-item > button {
    color: black;
}

ul.nav-pills > li.nav-item > button.active {
    background: #fc4c02;
}

h2.highlight, h3.highlight {
    border-left: 4px solid #fc4c02;
    padding-left: 0.5em;
}
